.showprofile{
  margin-top: 120px;
  margin-bottom: 140px;
  display:flex;
  justify-content: center;
}

.titleprofile{
  line-height: 0px;
  margin-bottom:35px;
}


.sizeboxprofile {
  width: 900px;
  justify-content:center;
}


.imagestyleprofil {
  border-radius: 50%;
}
