<div class ="container">
  <h1>Les périodes de réservation</h1>
  <ul>
  <% @rents.each do |rent| %>
      <li><%= rent.period%>
        </li>
  <% end %>
  </ul>

   <div class="col-xs-12 text-center">
        <i class="fas fa-chevron-left"></i><%= link_to "Back Home", root_path, class: "btn btn-secondary"%>
      </div>

</div>
