<header id="first">
   <div class="header-content">
       <div class="inner">
           <h1 class="cursive">Louez facilement votre vélo</h1>
           <hr>
      <a href="#" class="btn btn-primary btn-xl">Louer un vélo</a>&nbsp; <a href="#one" class="btn btn-primary btn-xl page-scroll">Louer ton vélo</a>
      <br>
           <a href="#" class="btn btn-primary btn-xl geolocalisation">Me géolocaliser <i class="fas fa-map-marker-alt"></i></a>
       </div>
   </div>
</header>
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div>
    Nous contacter
  </div>
  <div class="footer-copyright">
    Grab your <i class="fas fa-bicycle"></i> and ride like a pro!
  </div>
</div>
