<header id="first">
   <div class="header-content">
       <div class="inner">
           <h1 class="cursive">Louez facilement votre vélo</h1>
           <hr>
      <a href="#rentabike" class="btn btn-primary btn-xl">Louer un vélo</a>&nbsp; <a href="#one" class="btn btn-primary btn-xl page-scroll">Louer ton vélo</a>
      <br>
           <a href="#" class="btn btn-primary btn-xl geolocalisation">Me géolocaliser <i class="fas fa-map-marker-alt"></i></a>
       </div>
   </div>
</header>

<section id="rentabike">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.1)), url('https://media.paruvendu.fr/image/velo-course-telaio/WB15/6/6/WB156668751_1.jpeg');">
        <div class="card-category">bike.category</div>
        <div class="card-description">
          <h2>bike.description.first(30)</h2>
          <p>bike.address</p>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <i class="fas fa-user-circle card-user"></i>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.1)), url('https://guidapp.s3.eu-central-1.amazonaws.com/activity_base/nathyloisirs.fr/location-vtt-descente-a-pra-loup-barcelonnette-2-1532960212.JPG');">
        <div class="card-category">bike.category</div>
        <div class="card-description">
          <h2>bike.description.first(30)</h2>
          <p>bike.address</p>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <i class="fas fa-user-circle card-user"></i>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.1)), url('https://img.gta5-mods.com/q95/images/bmx-rockstar-energy-addon-replace/50f73d-bmxR.jpg');">
        <div class="card-category">bike.category</div>
        <div class="card-description">
          <h2>bike.description.first(30)</h2>
          <p>bike.address</p>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class="far fa-star"></i>
        </div>
        <i class="fas fa-user-circle card-user"></i>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.1)), url('https://media.paruvendu.fr/image/velo-course-telaio/WB15/6/6/WB156668751_1.jpeg');">
        <div class="card-category">bike.category</div>
        <div class="card-description">
          <h2>bike.description.first(30)</h2>
          <p>bike.address</p>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <i class="fas fa-user-circle card-user"></i>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.1)), url('https://guidapp.s3.eu-central-1.amazonaws.com/activity_base/nathyloisirs.fr/location-vtt-descente-a-pra-loup-barcelonnette-2-1532960212.JPG');">
        <div class="card-category">bike.category</div>
        <div class="card-description">
          <h2>bike.description.first(30)</h2>
          <p>bike.address</p>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <i class="fas fa-user-circle card-user"></i>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.1)), url('https://img.gta5-mods.com/q95/images/bmx-rockstar-energy-addon-replace/50f73d-bmxR.jpg');">
        <div class="card-category">bike.category</div>
        <div class="card-description">
          <h2>bike.description.first(30)</h2>
          <p>bike.address</p>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class="far fa-star"></i>
        </div>
        <i class="fas fa-user-circle card-user"></i>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.1)), url('https://media.paruvendu.fr/image/velo-course-telaio/WB15/6/6/WB156668751_1.jpeg');">
        <div class="card-category">bike.category</div>
        <div class="card-description">
          <h2>bike.description.first(30)</h2>
          <p>bike.address</p>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <i class="fas fa-user-circle card-user"></i>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.1)), url('https://guidapp.s3.eu-central-1.amazonaws.com/activity_base/nathyloisirs.fr/location-vtt-descente-a-pra-loup-barcelonnette-2-1532960212.JPG');">
        <div class="card-category">bike.category</div>
        <div class="card-description">
          <h2>bike.description.first(30)</h2>
          <p>bike.address</p>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <i class="fas fa-user-circle card-user"></i>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.1)), url('https://img.gta5-mods.com/q95/images/bmx-rockstar-energy-addon-replace/50f73d-bmxR.jpg');">
        <div class="card-category">bike.category</div>
        <div class="card-description">
          <h2>bike.description.first(30)</h2>
          <p>bike.address</p>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class="far fa-star"></i>
        </div>
        <i class="fas fa-user-circle card-user"></i>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.1)), url('https://media.paruvendu.fr/image/velo-course-telaio/WB15/6/6/WB156668751_1.jpeg');">
        <div class="card-category">bike.category</div>
        <div class="card-description">
          <h2>bike.description.first(30)</h2>
          <p>bike.address</p>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <i class="fas fa-user-circle card-user"></i>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.1)), url('https://guidapp.s3.eu-central-1.amazonaws.com/activity_base/nathyloisirs.fr/location-vtt-descente-a-pra-loup-barcelonnette-2-1532960212.JPG');">
        <div class="card-category">bike.category</div>
        <div class="card-description">
          <h2>bike.description.first(30)</h2>
          <p>bike.address</p>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <i class="fas fa-user-circle card-user"></i>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.1)), url('https://img.gta5-mods.com/q95/images/bmx-rockstar-energy-addon-replace/50f73d-bmxR.jpg');">
        <div class="card-category">bike.category</div>
        <div class="card-description">
          <h2>bike.description.first(30)</h2>
          <p>bike.address</p>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class="far fa-star"></i>
        </div>
        <i class="fas fa-user-circle card-user"></i>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>
</section>

<div class="footer">

  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <%= link_to  "Nous contacter", root_path, class: "btn btn-primary nouscontacter" %>
  </div>
  <div class="footer-copyright">
    Grab your <i class="fas fa-bicycle"></i> and ride like a pro!
    <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary"%>
    <%= link_to "Sign out", destroy_user_session_path, class: "btn btn-primary", method: :delete %>
  </div>
</div>
