<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div>
    Nous contacter
  </div>
  <div class="footer-copyright">
    Grab your <i class="fas fa-bicycle"></i> and ride like a pro!
    <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary"%>
    <%= link_to "Sign out", destroy_user_session_path, class: "btn btn-primary", method: :delete %>
  </div>
</div>
