<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://media.paruvendu.fr/image/velo-course-telaio/WB15/6/6/WB156668751_1.jpeg');">
        <div class="card-category">bike.category</div>
        <div class="card-description">
          <h2>bike.description.first(30)</h2>
          <p>bike.address</p>
        </div>
        <img class="card-user" src="https://upload.wikimedia.org/wikipedia/commons/f/f4/User_Avatar_2.png">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://guidapp.s3.eu-central-1.amazonaws.com/activity_base/nathyloisirs.fr/location-vtt-descente-a-pra-loup-barcelonnette-2-1532960212.JPG');">
        <div class="card-category">bike.category</div>
        <div class="card-description">
          <h2>bike.description.first(30)</h2>
          <p>bike.address</p>
        </div>
        <img class="card-user" src="https://upload.wikimedia.org/wikipedia/commons/f/f4/User_Avatar_2.png">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://img.gta5-mods.com/q95/images/bmx-rockstar-energy-addon-replace/50f73d-bmxR.jpg');">
        <div class="card-category">bike.category</div>
        <div class="card-description">
          <h2>bike.description.first(30)</h2>
          <p>bike.address</p>
        </div>
        <img class="card-user" src="https://upload.wikimedia.org/wikipedia/commons/f/f4/User_Avatar_2.png">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://media.paruvendu.fr/image/velo-course-telaio/WB15/6/6/WB156668751_1.jpeg');">
        <div class="card-category">bike.category</div>
        <div class="card-description">
          <h2>bike.description.first(30)</h2>
          <p>bike.address</p>
        </div>
        <img class="card-user" src="https://upload.wikimedia.org/wikipedia/commons/f/f4/User_Avatar_2.png">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://guidapp.s3.eu-central-1.amazonaws.com/activity_base/nathyloisirs.fr/location-vtt-descente-a-pra-loup-barcelonnette-2-1532960212.JPG');">
        <div class="card-category">bike.category</div>
        <div class="card-description">
          <h2>bike.description.first(30)</h2>
          <p>bike.address</p>
        </div>
        <img class="card-user" src="https://upload.wikimedia.org/wikipedia/commons/f/f4/User_Avatar_2.png">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://img.gta5-mods.com/q95/images/bmx-rockstar-energy-addon-replace/50f73d-bmxR.jpg');">
        <div class="card-category">bike.category</div>
        <div class="card-description">
          <h2>bike.description.first(30)</h2>
          <p>bike.address</p>
        </div>
        <img class="card-user" src="https://upload.wikimedia.org/wikipedia/commons/f/f4/User_Avatar_2.png">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://media.paruvendu.fr/image/velo-course-telaio/WB15/6/6/WB156668751_1.jpeg');">
        <div class="card-category">bike.category</div>
        <div class="card-description">
          <h2>bike.description.first(30)</h2>
          <p>bike.address</p>
        </div>
        <img class="card-user" src="https://upload.wikimedia.org/wikipedia/commons/f/f4/User_Avatar_2.png">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://guidapp.s3.eu-central-1.amazonaws.com/activity_base/nathyloisirs.fr/location-vtt-descente-a-pra-loup-barcelonnette-2-1532960212.JPG');">
        <div class="card-category">bike.category</div>
        <div class="card-description">
          <h2>bike.description.first(30)</h2>
          <p>bike.address</p>
        </div>
        <img class="card-user" src="https://upload.wikimedia.org/wikipedia/commons/f/f4/User_Avatar_2.png">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://img.gta5-mods.com/q95/images/bmx-rockstar-energy-addon-replace/50f73d-bmxR.jpg');">
        <div class="card-category">bike.category</div>
        <div class="card-description">
          <h2>bike.description.first(30)</h2>
          <p>bike.address</p>
        </div>
        <img class="card-user" src="https://upload.wikimedia.org/wikipedia/commons/f/f4/User_Avatar_2.png">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://media.paruvendu.fr/image/velo-course-telaio/WB15/6/6/WB156668751_1.jpeg');">
        <div class="card-category">bike.category</div>
        <div class="card-description">
          <h2>bike.description.first(30)</h2>
          <p>bike.address</p>
        </div>
        <img class="card-user" src="https://upload.wikimedia.org/wikipedia/commons/f/f4/User_Avatar_2.png">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://guidapp.s3.eu-central-1.amazonaws.com/activity_base/nathyloisirs.fr/location-vtt-descente-a-pra-loup-barcelonnette-2-1532960212.JPG');">
        <div class="card-category">bike.category</div>
        <div class="card-description">
          <h2>bike.description.first(30)</h2>
          <p>bike.address</p>
        </div>
        <img class="card-user" src="https://upload.wikimedia.org/wikipedia/commons/f/f4/User_Avatar_2.png">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://img.gta5-mods.com/q95/images/bmx-rockstar-energy-addon-replace/50f73d-bmxR.jpg');">
        <div class="card-category">bike.category</div>
        <div class="card-description">
          <h2>bike.description.first(30)</h2>
          <p>bike.address</p>
        </div>
        <img class="card-user" src="https://upload.wikimedia.org/wikipedia/commons/f/f4/User_Avatar_2.png">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div>
    <%= link_to  "Nous contacter", root_path %>
  </div>
  <div class="footer-copyright">
    Grab your <i class="fas fa-bicycle"></i> and ride like a pro!
  </div>
</div>
