<header id="first">
   <div class="header-content">
       <div class="inner">
           <h1 class="cursive">Louez facilement votre vélo</h1>
           <hr>
      <a href="#" class="btn btn-primary btn-xl">Louer un vélo</a>&nbsp; <a href="#one" class="btn btn-primary btn-xl page-scroll">Louer ton vélo</a>
      <br>
           <a href="#" class="btn btn-primary btn-xl geolocalisation">Me géolocaliser <i class="fas fa-map-marker-alt"></i></a>
       </div>
   </div>
</header>
