/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}


.alert-danger {
  background-color: rgba(132, 0, 0, 0.7);
  border-color: rgba(132, 0, 0, 0.7) !important;
  margin-bottom: 10px;
}
